<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>321554211765-i228ehsnmoue1mt5fpl5j4pffph7h4of.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.321554211765-i228ehsnmoue1mt5fpl5j4pffph7h4of</string>
	<key>API_KEY</key>
	<string>AIzaSyD_db1U74vM1haD0ylexHGd4VEQij3UQpo</string>
	<key>GCM_SENDER_ID</key>
	<string>321554211765</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.teamseowha.seowha</string>
	<key>PROJECT_ID</key>
	<string>seowha-defb0</string>
	<key>STORAGE_BUCKET</key>
	<string>seowha-defb0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:321554211765:ios:01b10b334424fc29</string>
	<key>DATABASE_URL</key>
	<string>https://seowha-defb0.firebaseio.com</string>
</dict>
</plist>